# Dependencies
node_modules
**/node_modules

# Build outputs
dist
**/dist
.next
**/.next
out
**/out

# Environment
.env
.env.*

# Turbo
.turbo

# Git
.git
.gitignore

# Logs
*.log

# OS
.DS_Store

# Misc
coverage
.vscode
.idea